h1 {
  color: #a60b00;
  font: times new roman;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
p {
  font: palatino;
  text-align: center;
}
div {
  color: #65b4c2;
  font: courier;
  text-align: center;
}
